{{> header}}
{{> navbar }}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Imagen de barco</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis placeat earum dolorum aspernatur neque
                ducimus dolorem minima cum doloribus architecto recusandae quas commodi assumenda, accusantium distinctio
                porro at aperiam ratione.
            </p>
        </div>
        <div class="col-md-4">
            <img src="assets/img/imagen.jpg" class="img-thumbnail">
        </div>
    </div>

</div>


{{> footer }}